.App {
  text-align: center;
}

.centered {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  contain: content;
  background: 50% 0/60% no-repeat url("/stretch.svg");
}
